.webview_chat {
    position: fixed;
    width: 480px;
    height: 100%;
    left: 0%;
    top: 0%;
    border: 0px;
}

.webview_video {
    position: fixed;
    width: calc(100% - 480px);
    height: 100%;
    left: 480px;
    top: 0%;
    border: 0px;
}

.swap .webview_chat {
    position: fixed;
    width: 480px;
    height: 100%;
    left: calc(100% - 480px);
    top: 0%;
    border: 0px;
}

.swap .webview_video {
    position: fixed;
    width: calc(100% - 480px);
    height: 100%;
    left: 0%;
    top: 0%;
    border: 0px;
}

@media only screen and (max-width: 750px) {
    .webview_chat {
        position: fixed;
        width: 100%;
        height: 60%;
        left: 0%;
        top: 40%;
        border: 0px;
    }

    .webview_video {
        position: fixed;
        width: 100%;
        height: 40%;
        left: 0%;
        top: 0%;
        border: 0px;
    }
}